.git
.github
node_modules
**/node_modules
dist
**/dist
coverage
**/coverage
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
apps/backend/uploads
apps/backend/generated/prisma
*.log
.DS_Store
